doctype html
html
  head
    title= 'Now playing in mozLondon'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='manifest' href='/manifest.json')
    meta(property='og:title' content=title)
    meta(property='og:image' content=albumArtURL)
    - if (locals.oembed)
      link(re='alternate', type='application/json+oembed', href=oembed)
  body
    block content
