doctype html
html
  head
    title= 'Now playing in mozLondon'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(property='og:title' content=title)
    meta(property='og:image' content=albumArtURL)
  body
    block content
