extends layout

block content
  script(src="/javascripts/widget.js")
  div(id="widgetBackground", style="background-image: url(" + albumArtURL + ")")
  div(id="widgetArt")
    img(src=albumArtURL)
    div(id="controls")
      img(id="prev", src="images/prev.png")
      -if (status !='playing')
        img(id="play", src="images/play.png")
      -else
        img(id="pause", src="images/pause.png")
      img(id="next", src="images/next.png")